.nav-bar.nav-bar {
    padding-top: 0.5rem;
}

    .nav-bar.nav-bar::before {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: $primary-color--light;
        position: absolute;
        bottom: 0;
        left: 0;
    }

.nav-bar .nav-bar__title-text {
    text-transform: uppercase;
}

.nav-bar .nav-bar__title-text .nav-bar__link svg {
    vertical-align: top;
}

.nav-bar .nav-bar__title-text .nav-bar__link span {
    display: inline-block;
    margin-top: 0.1em;
}

.nav-bar .nav-bar__inner {
    padding-bottom: 0.5rem;
}


.nav-bar .nav-bar__link {
    position: relative;
}

.nav-bar .nav-bar__link:active::after,
.nav-bar .nav-bar__link:focus::after,
.nav-bar .nav-bar__link:hover::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: 0.6428571429em;
    right: 0.6428571429em;
    margin-top: 3px;
    z-index: 1;
    
    background: $line-gradient;
}

.nav-bar__inner .nav-bar__link:active::after,
.nav-bar__inner .nav-bar__link:focus::after,
.nav-bar__inner .nav-bar__link:hover::after {
    margin-top: 11px;
    left: 0.6428571429em;
    right: 0.6428571429em;
}


#nav:target .nav-bar__inner::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: $line-gradient;
}

#nav:target .nav-bar__inner {
    box-shadow: 0 0 8px 0 #000;
}

#nav:target .nav-bar__item {
    margin-bottom: 0.5rem;
}


@media only screen and (max-width: $fallback--nav-bar--breakpoint--enhanced) {
    .nav-bar {
        padding-bottom: 0.5rem;
        position: relative;
    }

}
