---
layout: full
title: Projects
body_id: projects
---
<div>

    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <div role="list">
    {% for post in site.posts %}{% if post.role != '' %}
        <div role="listitem">
            {% if post.cloudinary_id != "" %}
                {% assign img_src = "https://res.cloudinary.com/andykirk/image/upload/c_fill,g_face,h_326,w_652/" | append: post.cloudinary_id  %}
            {% else %}
                {% assign img_src = false %}
            {% endif %}
            {% capture content %}
                <p>Role: {{ post.role }}</p>
            {% endcapture %}
            {% capture cta_text %}
                Read more<span hidden aria-hidden="false"> about {{ post.title }}</span>
            {% endcapture %}
            {% include card.html
                title = post.title
                img_src = img_src
                img_alt = ""
                hx = "2"
                content = content
                cta_url = post.url
                cta_text = cta_text
            %}
        </div>
    {% endif %}{% endfor %}
    </div>
    
</div>
