---
layout: full
---
<div>

    <header>
        <h1>I'm Andy</h1>

        <p>Oxford based Web Developer and Graphic designer. Full-time position: Web, Design and Publications Manager at the NPEU, but I also freelance.</p>

        <p><a href="https://github.com/andykirk">Read more about me on GitHub</a></p>
    </header>

    <h2>Recent posts</h2>
    
    <p>{{ site.posts.size }} posts</p>

    <div role="list">
        
        {% for post in site.posts %}
        <div role="listitem">
            {% if post.cloudinary_id != "" %}
                {% assign img_src = "http://res.cloudinary.com/andykirk/image/upload/c_fill,g_face,h_326,w_652/" | append: post.cloudinary_id  %}
            {% else %}
                {% assign img_src = false %}
            {% endif %}
            {% assign content = post.excerpt | replace: "<h2", "<h3" | replace: "</h2>", "</h3>" %}
            {% if post.tags != empty %}
            {% capture footer %}
                <p>Tags:
                {% for tag in post.tags %}
                <a href="/articles/tags/#{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}</p>
            {% endcapture %}
            {% endif %}
            {% capture cta_text %}
                Read more<span hidden="false" aria-hidden="false"> about {{ post.title }}</span>
            {% endcapture %}
            {% include card.html
                title = post.title
                img_src = img_src
                img_alt = ""
                hx = "2"
                date = post.date
                content = content
                cta_url = post.url
                cta_text = cta_text
                footer = footer
            %}
        </div>
        {% endfor %}
    </div>
    
</div>