h1, h2, h3 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;

    a[href],
    a[href]:hover,
    a[href]:active,
    a[href]:focus, {
        border-bottom: 0;
    }
}

main {
    padding: $fallback--base-rem-space-unit;
	background: rgba(0,0,0,0.6);
	position: relative;
}


/**/

dl, ol, ul {
    width: 100%;
}

main :target,
main :target + ul {
       -moz-animation: target-fade 3s 1;
    -webkit-animation: target-fade 3s 1;
            animation: target-fade 3s 1;;
}

@-moz-keyframes target-fade {
    0% { background-color: rgba(255,255,255,0.3); box-shadow: 0 0 0 1.2rem rgba(255,255,255,0.3); }
    100% { background-color: rgba(255,255,255,0); box-shadow: 0 0 0 1.2rem rgba(255,255,255,0); }
}

@-webkit-keyframes target-fade {
    0% { background-color: rgba(255,255,255,0.3); box-shadow: 0 0 0 1.2rem rgba(255,255,255,0.3); }
    100% { background-color: rgba(255,255,255,0); box-shadow: 0 0 0 1.2rem rgba(255,255,255,0); }
}

@keyframes target-fade {
    0% { background-color: rgba(255,255,255,0.3); box-shadow: 0 0 0 1.2rem rgba(255,255,255,0.3); }
    100% { background-color: rgba(255,255,255,0); box-shadow: 0 0 0 1.2rem rgba(255,255,255,0); }
}
/**/

.sticky-footer-expand {
    background: $fallback--base-ui-color;
	// This is so the background image div will fill _this_ container:
	position: relative;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2e7df+100 */
    //background: #ffffff; /* Old browsers */
    //background: linear-gradient(to bottom,  #ffffff 0%,#e2e7df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.poster {
    position: relative;
}

.poster::before{
	content: "";
	display: block;
	padding-top: 50%;
}

.poster .poster__cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.poster img {
    object-fit: cover;
}

.card,
.card__image {
    margin-bottom: 1.5rem;
}

.card a {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  
  
}
/*
.sticky-footer-expand {
	position: relative;
	z-index: -2;
}
*/
.page-background {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-position: center center;
	
}
