h1, h2, h3 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;

    a[href],
    a[href]:hover,
    a[href]:active,
    a[href]:focus, {
        border-bottom: 0;
    }
}

main {
    padding: 1.5rem;
}

/**/


.sticky-footer-expand {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2e7df+100 */
    background: #ffffff; /* Old browsers */
    background: linear-gradient(to bottom,  #ffffff 0%,#e2e7df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.poster {
    position: relative;
}

.poster::before{
	content: "";
	display: block;
	padding-top: 50%;
}

.poster .poster__cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.poster img {
    object-fit: cover;
}

.card,
.card__image {
    margin-bottom: 1.5rem;
}

