/*
    Global sizes
*/

$sz-xxs : $f__base-rem-space-unit / 8; // 3px
$sz-xs  : $f__base-rem-space-unit / 4; // 6px
$sz-s   : $f__base-rem-space-unit / 2; // 12px
$sz-m   : $f__base-rem-space-unit;     // 24px
$sz-l   : $f__base-rem-space-unit * 2; // 48px
$sz-xl  : $f__base-rem-space-unit * 4; // 96px
$sz-xxl : $f__base-rem-space-unit * 8; // 192px

$sizes: (
    sz-xxs : $sz-xxs,
    sz-xs  : $sz-xs,
    sz-s   : $sz-s,
    sz-m   : $sz-m,
    sz-l   : $sz-l,
    sz-xl  : $sz-xl,
    sz-xxl : $sz-xxl
);