/*

*/

$f__base-font-family: 'Lato', sans-serif;

$f__root-font-size: 10px;


@import '../bower_components/Fall-Back-Start-CSS/scss/_start_settings.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start_functions.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start_mixins.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start.scss';
//@import '../bower_components/Fall-Back-Start-CSS/scss/_start-classes.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-accessibility.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-utilities.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-icons.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-experimental.scss';

$e__main-position: 5;

@import '../bower_components/Fall-Back-Elementary/scss/_0-elementary.scss';