/* --| SETTINGS |-------------------------------------------------------------------------------- */

@import "_settings.scss";

// @TODO -0 decide whether the --light/--lighter/--dark/--darker is the way to go, or just use sass
// colour functions to create tints as needed, or create vars in 10% blocks, i.e.
// --light-10; --dark-30.

$primary-color: #2e4d58; //PANTONE 2216 [C: 88, M: 50, Y: 45, K: 50]
$primary-color--light: #82949b;
$primary-color--lighter: #c1cacd;
$primary-color--dark: #253e46;
$primary-color--darker: #1c2e35;


$secondary-color: #dc6b2f; // PANTONE 7579 [C: 0, M: 67, Y: 100, K: 0]
$secondary-color--light: #eaa682;
$secondary-color--lighter: #f5d3c1;
$secondary-color--dark: #b05626;
$secondary-color--darker: #84401c;

$supporting-color-1: #ffb25b; // PANTONE 150 [C: 0, M: 41, Y: 78, K: 0]
$supporting-color-1--light: #ffd19d;
$supporting-color-1--lighter: #ffe8ce;
$supporting-color-1--dark: #cc8e49;
$supporting-color-1--darker: #996b37;

$supporting-color-2: #9db092; // PANTONE 7494 [C: 35, M: 5, Y: 42, K: 14]
$supporting-color-2--light: #c4d0be;
$supporting-color-2--lighter: #e2e7df;
$supporting-color-2--dark: #7e8d75;
$supporting-color-2--darker: #5e6a58;

$supporting-color-3: #008675; // PANTONE 327 [C: 100, M: 2, Y: 60, K: 14]
$supporting-color-3--light: #66b6ac;
$supporting-color-3--lighter: #b3dbd6;
$supporting-color-3--dark: #006b5e;
$supporting-color-3--darker: #005046;


$line-gradient: linear-gradient(to right, $supporting-color-1 0%, $supporting-color-1 70%, $secondary-color 70%, $secondary-color 100%);

$f__html-background-color: darken($primary-color, 20%);

$f__body-padding: 0;
$f__main-max-line-length: 0;
$f__main-padding: 0;

$f__anchor-text-color: #333;

// I shouldn't have to set this as the !default should allow a cascade.
// Investigate why this is happening. I don't think it's a SASS problem as it seems to work in a
// reduced test-case (though to be fair this isn't using @import...)
// https://codepen.io/akirk/pen/RmWKgy
$f__anchor-text-color--alt: #333;



$f__selection-background-color: lighten($primary-color, 10%) !default;
$f__experimental_checkradios: true;


$f__class-namespace: c-;
$ff__include_class_bordered: false;
$ff__include_class_padded:   false;
$ff__include_class_poem:     false;
@import '../bower_components/Fall-Back-Start-CSS/scss/_start.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-classes.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-accessibility.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-utilities.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-icons.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-experimental.scss';

// Reduce opacity of external link marker to make less overbearing.
a[href][rel=external]::after {
    opacity: 0.6;
}

@import "_sizes";


$hover-effect-opacity: 0.2;
$hover-effect-width: $f__base-rem-space-unit / 4;


/* ---------------------------------------------------------------------------------------------- */
/* --| FUNCTIONS AND MIXINS |-------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* --| FALL-BACK PATTERNS |---------------------------------------------------------------------- */


//$f__over-panel__contents--padding: 0;
//$f__over-panel__overlay--background-color: #000;
@import "../bower_components/Fall-Back-Patterns/Over Panel/scss/_over-panel";


$f__nav-bar--bg-color: $supporting-color-2--lighter;
$f__nav-bar--background-color: $supporting-color-2--lighter;
//$f__nav-bar__link--color: #222;
$f__nav-bar__link--color: $primary-color--darker;
$f__nav-bar__link--background-color--alt: $f__nav-bar--background-color;
//$f__nav-bar--bg-color: $primary-color;
//$f__nav-bar__link--color: #fff;
//$f__nav-bar__link--bg-color--alt: $primary-color;

$f__nav-bar__link--border-width: 0;
$f__nav-bar__title--font-family: Vollkorn,serif;
$f__nav-bar__title--font-weight: normal;

/*
$f__nav-bar--background-color:             $f__base-ui-color;
$f__nav-bar__link--color:                  #fff;//#333;
$f__nav-bar__link--background-color:       transparent;
$f__nav-bar__link--background-color--alt:  rgba(0,0,0,0.3);
$f__nav-bar__link--background-color--alt2: rgba(0,0,0,0.3);

$f__sub-nav--background-color:             $f__base-ui-color;
$f__sub-nav__link--color:                  $f__nav-bar__link--color;
$f__sub-nav__link--background-color:       transparent;
$f__sub-nav__link--background-color--alt:  rgba(0,0,0,0.3);

$f__nav-bar-divider-first-item:            true;
*/
@import "../bower_components/Fall-Back-Patterns/Nav Bar/scss/_nav-bar";


//$f__search-form--background-color:              transparent;
//$f__search-form__submit--background-color:      darken($f__base-ui-color, 5%);
//$f__search-form__submit--background-color--alt: darken($f__base-ui-color, 15%);
@import "../bower_components/Fall-Back-Patterns/Search Form/scss/_search-form";



@import "../bower_components/Fall-Back-Patterns/Sticky Footer/scss/_sticky-footer";

/*$fallback-svg--fixed-height:      36px;
$fallback-svg--padding:           3px;
$fallback-svg--border-width:      1px;
$fallback-svg--border-color:      #666;
$fallback-svg--link-bg-color:     #fff;
$fallback-svg--link-bg-color-alt: #ffdd79;
@import "../bower_components/Fall-Back-SVG/_svg";*/

//@include svg--fixed-height(40px, 'svg-logo', );


@import "../bower_components/Fall-Back-Cookie-Notice/_cookie-notice";
/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* --| OVERRIDES |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

/* --| LOCAL STRUCTURE |------------------------------------------------------------------------- */
@import "structure/__all";


/* --| LOCAL PATTERNS |--------------------------------------------------------------------------- */
$card--base-color: $primary-color;
$card--text-color: $primary-color;
$card--background-color: #fff;
$card--border-color: $primary-color;
$card--link-color: $secondary-color;
$card--link-has-border-bottom: true;
$card--padding: $f__base-rem-space-unit;
@import "patterns/__all";

/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame";

/* ---------------------------------------------------------------------------------------------- */
