<!--
        Print (Edge doesn't apply to print otherwise)
        IE 10, 11
        Edge
        Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
        FF 29+
    -->
    <link rel="stylesheet" href="{{ include.css }}" media="
        only print, screen and (min-width: 1vm),
        only all and (-ms-high-contrast: none), only all and (-ms-high-contrast: active),
        only all and (pointer: fine), only all and (pointer: coarse), only all and (pointer: none),
        only all and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0),
        only all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm)
    ">