---
layout:   full
title:    Knowledge Base
body_id:  knowledge-base
---
{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<h1>{{ page.title }}</h1>

<p>
The Knowledge Base is a place where I collect useful web-development thoughts and resources.<br />
It's intended to constantly evolve and as such will never be 'complete' but will serve as an aide memoire to myself and hopefully a useful resource to other Web developers.
</p>

<p>
    {% for tag in tags %}- <a href="#{{ tag | slugify }}">{{ tag }}</a> {% endfor %}
</p>

{% assign posts = site.posts | sort: 'title' %}
{% for tag in tags %}
<h2 id="{{ tag | slugify }}">{{ tag }}</h2>

<ul>
    {% for post in posts %}{% if post.tags contains tag %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a> - <small>{{ post.date | date_to_string }}</small>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}

