/*
    The `height: 100%;` in the `.card` class below allows the card to fill it's contrain (if inside,
    say, a list-grid). However, it doesn't work in Safari OSX/iOS.
    Applying a `card-wrap` class to a list item to make those items flex-containers seems to work
    ok, but perhaps this wojld be better abstracted as a `fill-height` class or something?
*/

$card--base-color: #eee !default;
$card--background-color: $card--base-color !default;
$card--border-color: darken($card--background-color, 10%) !default;
$card--link-color: false !default;
$card--link-has-border-bottom: false !default;
@if $card--link-color != false {
    $card--link-color--alt: darken($card--link-color, 10%) !default;
}

@if $card--link-color != false && $card--link-has-border-bottom != false {
    $card--link-border-bottom: 1px solid lighten($card--link-color, 20%) !default;
    $card--link-border-bottom--hover: 2px solid lighten($card--link-color--alt, 30%) !default;
}


.card-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

    .card-wrap .card {
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        width: 100%;
    }

    .card {
        background: $card--background-color;
        padding: 1.5rem;
        /*height: 100%;*/
        
        outline: 1px solid $card--border-color;
        
        /*max-width: 20em;*/
        margin: 0 auto;
    }

        .card__image{
            text-align: center;
        }

        .card__body * {
            margin: 0;
        }
        
        @if $card--link-color != false {
            .card__body a {
                color: $card--link-color;
                @if $card--link-has-border-bottom != false {
                    border-bottom: $card--link-border-bottom;
                }
            }
            
            .card__body a:hover,
            .card__body a:active,
            .card__body a:focus {
                color: $card--link-color--alt;
                @if $card--link-has-border-bottom != false {
                    border-bottom: $card--link-border-bottom--hover;
                }
            }
        }