.page-footer {
    background-color: $primary-color;
    //background-color: $f__base-ui-color;
    padding: ($f__base-em-ratio * 1.5em) / 3;
    font-size: 0.875em;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    
    border-top: 3px solid $primary-color--light;
}
/*
    .page-footer a[href] {
        color: lighten($f__base-ui-color, 40%);
    }
    
    .page-footer a[href]:hover,
    .page-footer a[href]:active,
    .page-footer a[href]:focus {
        color: lighten($f__base-ui-color, 20%);
    }
*/