<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Andy Kirk">
	
	<!-- Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+, IE 10+ (including Edge) -->
    <!-- FF 29+ -->
    <link rel="stylesheet" href="/css/style.min.css"
        media="only screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0), (-ms-high-contrast: none),only all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm)"
    >
     
</head>
<body role="document"{% if body_id %} class="{{ body_id }}"{% endif %}>
    
    <svg xmlns="http://www.w3.org/2000/svg" display="none">
        <symbol id="icon-triangle-down" viewBox="0 0 12 16">
            <path d="M1,6h10l-5,5L1,6z"></path>
        </symbol>
        <symbol id="icon-cross" viewBox="0 0 16 16">
            <path d="M15.5,2L14,0.5l-6,6l-6-6L0.5,2l6,6l-6,6L2,15.5l6-6l6,6l1.5-1.5l-6-6L15.5,2z"></path>
        </symbol>
        <symbol id="icon-menu" viewBox="0 0 16 16">
            <rect x="0" width="16" height="3"/>
            <rect x="0" y="6" width="16" height="3"/>
            <rect y="12" width="16" height="3"/>
        </symbol>
        <!-- Other <symbol>s? -->
    </svg>

    <div class="no-style-notice  no-css-only">
        <hr />
        <p>
            <b>Notice:</b> You are viewing an <em>unstyled</em> version of this page. Are you using a very old browser? If so, <a href="http://browsehappy.com/">please consider upgrading</a>.
        </p>
        <hr />
    </div>

    <div class="sticky-footer-wrap">           
        <header class="header">
        
            <div class="over-panel  over-panel--slide" id="nav">
                <a href="#" tabindex="-1" class="over-panel__overlay  js-no-history"></a>

                <div class="nav-bar">
                    <div class="nav-bar__title-section">

                        <div class="nav-bar__title-text"><a href="/" class="nav-bar__link">Andy Kirk</a></div>
                        
                        <a href="#nav" class="over-panel__open  js-no-history" hidden><svg display="none" class="icon" aria-label="Open menu"><use xlink:href="#icon-menu"></use></svg></a>

                    </div>
                    <div class="over-panel__wrap">
                        <a href="#" class="over-panel__close  js-no-history" hidden><svg display="none" class="icon" aria-label="Close menu"><use xlink:href="#icon-cross"></use></svg></a>

                        <nav class="nav-bar__inner">
                            <h2 class="visually-hidden" hidden aria-hidden="false">Navigation</h2>
                            <!--<form action="/search" id="searchform" class="search-form  search-form--right" method="GET">
                                <input type="search" class="search-form__field" id="search" placeholder="Search" name="s" value="" aria-label="Search" />
                                <button class="search-form__submit" type="submit">
                                    <span>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                            <path fill="#333333" d="M12.917 11.667h-0.662l-0.229-0.229c0.817-0.946 1.308-2.175 1.308-3.521 0-2.992-2.425-5.417-5.417-5.417s-5.417 2.425-5.417 5.417 2.425 5.417 5.417 5.417c1.346 0 2.575-0.492 3.521-1.304l0.229 0.229v0.658l4.167 4.158 1.242-1.242-4.158-4.167zM7.917 11.667c-2.071 0-3.75-1.679-3.75-3.75s1.679-3.75 3.75-3.75 3.75 1.679 3.75 3.75-1.679 3.75-3.75 3.75z"></path>
                                            <text y="-1">Search</text>
                                        </svg>
                                    </span>
                                </button>
                                <a href="#" tabindex="-1" class="search-form__cancel  icon-wrap  js-no-history"><svg display="none" class="icon"><use xlink:href="#icon-cross"></use></svg></a>-->
                                <ul class="search-form__collapse  nav-bar__items">
                                    <li class="nav-bar__item"><a href="/blog" class="nav-bar__link">Blog</a></li>
                                    <li class="nav-bar__item"><a href="/knowledge-base" class="nav-bar__link">Knowledge Base</a></li>
                                    <!--<li class="nav-bar__item  has-subnav">
                                        <span class="subnav__heading">Patterns:</span>
                                        <a href="#patterns-submenu" data-content="Patterns:" class="nav-bar__link  subnav__open  js-no-history" aria-label="Patterns Submenu" hidden> <svg display="none" class="icon  icon--narrow"><use xlink:href="#icon-triangle-down"></use></svg></a>
                                        <ul class="subnav" id="patterns-submenu">
                                            <li class="subnav__item"><a href="https://github.com/Fall-Back/Nav-Bar" class="subnav__link">Nav Bar</a></li>
                                            <li class="subnav__item"><a href="https://github.com/Fall-Back/Search-Form" class="subnav__link">Search Form</a></li>
                                            <li class="subnav__item"><a href="https://github.com/Fall-Back/Off-Canvas" class="subnav__link">Off Canvas</a></li>
                                            <li class="subnav__item"><a href="https://github.com/Fall-Back/Over-Panel" class="subnav__link">Over Panel</a></li>
                                        </ul>
                                        <a href="#" class="subnav__link  subnav__cancel  js-no-history" hidden><svg display="none" class="icon" aria-label="Close submenu"><use xlink:href="#icon-cross"></use></svg></a>
                                    </li>-->
                                </ul>
                            <!--</form>-->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="sticky-footer-expand">
            <main role="main" class="main-container">
                {{ content }}
            </main>
        </div>
        
        <footer class="sticky-footer" role="contentinfo">
            <p class="page-footer">
                <a href="#">Top</a> | <a href="https://github.com/andykirk/andykirk.github.io">Github</a> | &copy; Andy Kirk 2016
            </p>
        </footer>
    </div>


    <script src="/js/script.min.js"></script>
    
</body>
</html>
